attrs
certifi
chardet
click
dominate
feedparser
Flask
Flask-Bootstrap
Flask-SQLAlchemy
idna
itsdangerous
Jinja2
MarkupSafe
multidict
oauthlib
python-dateutil
python-dotenv
requests
requests-oauthlib
six
SQLAlchemy
tweepy
urllib3
visitor
Werkzeug
yarl
