[Unit]
Description=Schedule for fetchlinks ingest

[Timer]
OnCalendar=*:0/30
Persistent=true
RandomizedDelaySec=60
Unit=fetchlinks-ingest.service

[Install]
WantedBy=timers.target
