[Unit]
Description=Schedule for fetchlinks Pi sync cycle

[Timer]
OnCalendar=*:0/30
Persistent=true
RandomizedDelaySec=60
Unit=fetchlinks-sync.service

[Install]
WantedBy=timers.target
